.homepage {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  background: #FBFCFF;
}

.homepage > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage__content {
  width: 100%;
}