.authentication-container {
  width: 100%;
  height: 100vh;
}

.form {
  flex-direction: column;
}
.form-container {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  height: 535px;
  width: 380px;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
}

.form-paragraph {
  flex-direction: column;
  gap: 10px;
}

.form-button {
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.form-button:active {
  transform: scale(0.95);
}
.form-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  width: 100%;
  max-width: 250px;
}

.form-enter {
  transform: translateX(-100%);
}

.form-enter-active {
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.form-exit {
  transform: translateX(100%);
  display: none;
}
.form-exit-done {
  
  display: none;
}
.form-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
