

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
}

.move-left {
  transform: translateX(-100%);
}
