.clientCard {
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  width: 470px;
  height: 386px;
  cursor: pointer;
  transition: width transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px;
}
.clientCard:hover {
  box-shadow: 0px 0px 10px 1px #9babc5;
  transform: scale(1.05);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1600px) {
  .clientCard {
    width: 500px;
    height: 500px;
  }
}
.clientCard__profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.clientCard__photo {
  /* Light Mode/Form */
  background: #efefef;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}
.clientCard__name {
  /* Heading/Heading 6 */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  /* identical to box height */

  /* Light Mode/White */
  color: #222132;
}
.clientCard__paragraph {
  /* Display/Display 2 (Light) */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  padding-bottom: 14px;

  /* identical to box height */

  /* Color/Second Text */
  color: #9babc5;
}
.clientCard__item--text {
  /* Display/Display 2 (Bold) */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #222132;

  /* identical to box height */

  /* Light Mode/White */
}

.clientCard__item {
  display: flex;
  color: #9babc5;
  gap: 8px;
  padding-bottom: 13px;
}
.clientCard__button {
  width: 20px;
  height: 20px;
  background: #fe4b2b;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  right: 32px;
}
.clientCard__button:hover {
  background-color: #ed290b;
}
.clientCard__button .clientCard__item--svg {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}
.clientCard__photo {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
