@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span {
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

.App {
  background: #f0f2f5;
  height: 100%;
}

.section {
  padding: 70px 0;
}

.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.paragraph {
  font-size: 0.8 rem;
}

/* Home */

.invoice__home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.invoice__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  border-radius: 0.8rem;
  margin-bottom: 1.9rem;
  transition: 1s;
  cursor: pointer;
}
/* Buttons */
.add__button {
  background-color: #ff4b2b;
}
.pending__status {
  /* button into Home*/
  background: grey;
}
.invoice__item:hover {
  border: 1px solid #ff4b2b;
  transform: scaleY(1.1);
}

/* invoiceid/index*/

.back__btn {
  margin-bottom: 1.9rem;
}

.details__status {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.invoice__details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 0.5rem;
  margin-bottom: 1.9rem;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.details__btns {
  display: flex;
  gap: 15px;
}

.mark__as__button {
  background-color: black;
}

.invoice__details {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

.details__box {
  margin-bottom: 1.9rem;
}

.invoice__created-date {
  margin-bottom: 1.9rem;
}

.invoice__created-date p,
.invoice__payment {
  margin-bottom: 5px;
}
.invoice__client-address p {
  margin-bottom: 5px;
}
.invoice__client-address h4 {
  margin-bottom: 10px;
}
.invoice__item-box {
  background-color: #252945;
  padding: 30px;
  border-radius: 7px 7px 0 0;
  color: #fff;
}

.list {
  list-style: none;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list__item-box {
  width: 25%;
  text-align: right;
}

.item__name-box {
  width: 50%;
}

.grand__total {
  background: #0c0e16;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* invoice details style end*/
/* add new page style */
.new__invoice {
  width: 60%;
  margin: auto;
}

.new__invoice-header {
  margin-bottom: 1.9rem;
}

.form__group input {
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
/* .form__group {
  margin-bottom: 1.9rem;
} */

.form__group p {
  margin-bottom: 10px;
}

.inline__form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline__group {
  width: 48%;
}

.new__invoice-body {
  padding-bottom: 40px;
}

.bill__title {
  margin-bottom: 20px;
}

.bill__to {
  margin-top: 50px;
}

.invoice__items {
  margin-top: 70px;
}

.invoice__items h3 {
  margin-bottom: 30px;
}

.add__item-btn {
  width: 100%;
  padding: 10px 25px;
  border-radius: 50px;
  margin-top: 50px;
}

.draft__btn {
  background-color: #1f2c3f;
  color: #fff;
  margin-right: 30px;
  width: 150px;
}

.new__invoice-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
