:root {
  --background-color: #f2f3f5;
  --placeholder-color: #aaa;

  --color-dark: #222;
  --color-dark-2: #666;
  --color-gray: #e3e3e3;
  --color-yellow: #fdf4db;
  --color-cyan: #66afe9;
  --color-white: #fff;
  --color-red: #f03434;
  --color-green: #26a65b;
  --color-blue: #428bca;
}

.invoice-wrapper {
  position: relative;
  background-color: #fff;
  padding: 40px 35px;
  box-shadow: 0 0 17px rgba(16, 40, 73, 0.09);
  min-width: 21cm;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 29.7cm;
}
.invoice__content {
  display: flex;
}
.input {
  display: inline-block;
  width: 98%;
  height: 30px;
  padding: 4px 0 4px 0;
  margin-bottom: 1px;
  background: transparent;
  border: 1px dotted transparent;
  border-radius: 3px;
  outline: 0;
  transition: background 0.1s ease-in-out, border-color 0.2s ease-in-out;
}
.input-date {
  border: 1px dotted #999;
  background: #fdf4db;
  padding: 4px 4px;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.flex-ai {
  align-items: center;
}
.gap-15 {
  gap: 15px;
}
.input[value] {
  color: #555;
}
.input:focus {
  outline: 1;
  border: 1px dotted var(--color-cyan);
  background: #fdf4db;
}
.input:hover {
  background: #fdf4db;
}
.flex-end {
  justify-content: flex-end;
}
.w-12 {
  width: 12%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-22 {
  width: 22%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-48 {
  width: 48%;
}
.w-50 {
  width: 50%;
}
.w-98 {
  width: 98%;
}
.w-100 {
  width: 100%;
}
.h-50 {
  height: 50px;
}
.fs-20 {
  font-size: 20px;
}
.fs-45 {
  font-size: 45px;
}
.b-b {
  border-bottom: 1px solid #e3e3e3;
}
.bold {
  font-weight: 800;
}
.right {
  text-align: right;
}
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 0 0 0 10px;
}
.p-5 {
  padding: 5px;
}
.p-4-8 {
  padding: 4px 8px;
}
.p-10 {
  padding: 0 10px;
}
.p-color {
  color: var(--placeholder-color);
}
.m-t {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.p-10 {
  padding: 10px 0;
}
.mt-30 {
  margin-top: 30px;
}
.bg-dark {
  background-color: #666;
}
.ta-right {
  text-align: right;
}
.span {
  display: inline-block;
  width: 100%;
  padding: 4px 0 4px 0;
  margin-bottom: 1px;
  border: 1px dotted transparent;
  transition: background 0.1s ease-in-out, border-color 0.2s ease-in-out;
}
.absolute {
  position: absolute;
}
.bottom40 {
  bottom: 40px;
}
.white {
  color: #fff;
}
.bg-gray {
  background-color: var(--color-gray);
}
.fs-11 {
  font-size: 11px;
}
.t-area {
  resize: vertical;
}
.text14 {
  width: 98%;
  padding: 4px 12px 4px 0;
  margin-bottom: 1px;
  font-weight: "bold";
  font-size: 14;
  color: #555;
}
